.payment {
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -225px;
	-webkit-box-shadow: 8px 12px 40px -10px #222;
	-moz-box-shadow: 8px 12px 40px -10px #222;
	box-shadow: 8px 12px 40px -10px #222;
	border-radius: 0 25px 25px 0;
	width: 500px;
	height: 275px;
}

body { 
	background: #26c1ff;
}