beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.0
chardet==3.0.4
cheroot==5.10.0
CherryPy==12.0.1
clarifai==2.0.32
configparser==3.5.0
DAWG-Python==0.7.2
docopt==0.6.2
enum34==1.1.6
future==0.15.2
gTTS==1.2.2
gTTS-token==1.1.1
html5lib==0.9999999
idna==2.6
jaraco.classes==1.4.3
jsonschema==2.5.1
Markdown==2.6.9
numpy==1.13.1
olefile==0.44
Pillow==2.9.0
pip==9.0.1
portend==2.1.2
prompt-toolkit==1.0.15
protobuf==3.4.0
psutil==5.4.1
PyAutoGUI==0.9.36
pycparser==2.18
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyMsgBox==1.0.6
pyparsing==2.2.0
pypiwin32==219
PyScreeze==0.1.13
PySoundFile==0.9.0.post1
pyTelegramBotAPI==3.5.0
pyttsx==1.1
PyTweening==1.0.3
pytz==2017.2
requests==2.18.4
setuptools==20.10.1
six==1.11.0
tempora==1.8
tensorflow==1.3.0
tensorflow-tensorboard==0.1.5
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
wheel==0.29.0
wit==4.3.0
